*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f3c5c5;
    padding: 20px;
}
.tab-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.section-images{
    border: 2px solid black;
    height: 450px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.tabs-sections{
    border: 2px solid black;
    height: 450px;
    width:450px;
    border-radius: 5px;
}

.html-img{
    width: 200px;
    height: 200px;

}
.css-img{
    width: 150px;
    height: 200px;
    display:none;
}
.js-img{
width: 400px;
height: 250px;
display: none;
}
.content{
    width: 350px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left:40px;
}
#html-content{
    display: block;
}
#css-content,#js-content{
    display: none;
}
.tabs{
    display: flex;
    flex-direction: row;
}
.tabs button{   
    width:100%;  
  padding: 15px 15px;
  border:none;
  cursor: pointer;
  font-size: 16px;
   background-color: #f3c5c5;
}




